:root { 
    --vermelho: #e50914;
    --preto: #141414;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;

}

main .witchertitulo {
    color: #FFF;
    padding-left: 10px;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;

}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', times;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 100px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}

header nav{
    margin-left: 50%;
    justify-content: space-between;
}

header nav a:hover{
    color:#FFF;
}

.filme-principal{
    font-size: 16px;
    background: url('../src/596369.jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background: linear-gradient (rgba(0,0,0,.50), rgba(0,0,0,.50)100%); 

}

.filme-principal .descricao{
    margin-left: 10px;
    margin-bottom: 40px;
}

.container .button {
    margin-left: 10px;
}

.witchertitulo {
    font-size: 40px;
}

.button {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px; 
    margin-right: 15px; 
    font-size: 12px;

    cursor: pointer;

    transition: 0.5s ease all;
}

.button:hover{
    background-color: white;
    color: black;
}

.button i{
    padding: 10px;
}



.container-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    background: (rgba (rgba(0,0,0,.50)));
    padding-top: 5px;
}

#filmes{
    width: 100%;
    height: 400px;
    background-color: (rgba(0,0,0,.50));
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    position: relative;
    overflow: hidden;
}
 
.container-filmes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-direction: row;
    left: 0;
    padding-bottom: 5px;
    transition: 0.5s ease all;
}

.btn-scroll{
    color: rgb(250, 250, 250);
    padding: 5px 8px;
    border: 0;
    margin: 0px;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    width: 70px;
    background-color: rgba(0,0,0,.50);
}

.letreiro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 20px;
    background: linear-gradient (rgba(0,0,0,) , (rgba(0,0,0,.50)));

}   

.banner-filme {
    padding: 5px;
    
}

.fa-solid fa-chevron-right{
    color: white;
}

.banner-filme img:hover{
   transform: scale(1.2);
   

}